body {
    margin: 0;
    font-family: Verdana, serif;
    color: white;
    background: url("tlo.jpg") repeat center;
    text-align: center;
}

#baner-rek{
    background: aqua;
    padding: 20px;
}


#stopka{
    background: black;
    padding: 20px;
    margin-top: 25px;
}

ul{
    list-style: none;
    padding-left: 0;
    list-style-position: inside;
}

.links{
    color: aqua;
}

.nav_a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

li:nth-child(odd) {
    background: rgba(108, 114, 179, 0.6);
}
li:nth-child(even) {
    background: rgba(147, 149, 178, 0.6);
}


